@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  html {
    font-family: 'Nunito Sans', sans-serif;
  }
}